body {
    font-family: Arial, sans-serif;
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: powderblue;
    color: black    ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: powderblue;
}

.radio-group {
    margin-bottom: 20px;
}

.result p {
    font-size: 18px;
    margin: 10px 0;
}

#winner {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
