/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="number"]:focus {
    outline: none;
    border-color: #2575fc;
}

.options label {
    display: block;
    margin: 8px 0;
    font-size: 14px;
    color: #f0f0f0;
    cursor: pointer;
}

button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #1d63d6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.result {
    margin-top: 20px;
}

#generatedPassword {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: text;
}

#generatedPassword:focus {
    outline: none;
    border-color: #2575fc;
}
