body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #300fea, #7083c7);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.image{
    height: 40%;
    width: 100%;
   
}

header {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three items per row */
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.section {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 600px;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    outline: none;
}

input:focus {
    border-color: #3498db;
}

button {
    background: #34dbcd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #2980b9;
}

.result {
    margin-top: 10px;
    font-weight: bold;
    color: #2c3e50;
}

.formula {
    margin-top: 10px;
    font-size: 14px;
    color:black;
}
